* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: darkgoldenrod;
}
.App {
  padding-left: 20rem;
  padding-right: 20rem;
}
.input {
  outline: none;
  border: 1px solid black;
  color: white;
}
.input::placeholder {
  color: white;
  padding-left: 1rem;
}
.saveclear {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.2rem;
  gap: 5px;
}
.btns {
  display: flex;
  justify-items: space-around;
  align-items: center;
  gap: 5px;
}
.heading td {
  font-weight: 600;
}
